@use '../abstracts/variable' as *;
@use '../abstracts/mixins' as *;

.main-container {
    padding: 0 1.6rem;
    @include responsive('md') {
        padding: 0 6.4rem;
    }

    @include responsive('lg') {
        padding: 0 12.75rem;
    }
}

.header_container {
    @include flex-container(row, space-between);
    position: relative;
    padding: 3.5rem 0.4rem;

    @include responsive('md') {
        padding: 3.2rem 6.5rem;
    }

    @include responsive('lg') {
        padding: 6.5rem 15rem 5.5rem;
    }
}

.logo_container {
    width: 4rem;
    height: 4rem;
    order: 1;

    @include responsive('md') {
        order: 2;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    @include responsive('lg') {
        order: 1;
        position: static;
    }

    &:hover {
        cursor: pointer;
    }

    &:focus {
        outline: 0.2rem solid $violet;
    }
}

.logo {
    @include overflow-hidden;
    width: 100%;
}

.icon--hamburger {
    &::before {
        color: $violet;
        font-size: 4.5rem;

        @include responsive('md') {
            display: block;
        }
    }
    @include responsive('lg') {
        display: none;
    }

    &:focus {
        border: 0.2rem solid $info;
    }
}

.navbar {
    @include responsive('xs') {
        order: 2;
    }

    @include responsive('md') {
        order: 1;
    }

    @include responsive('lg') {
        order: 2;
    }
}

.nav_item_container {
    @include flex-container(column, center, center, 2rem);
    @include transition(transform, 0.3s, ease-in-out);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: $white;
    transform: translateY(-100%);
    z-index: 999;
    display: none;

    li {
        padding: 1rem 0;
        width: auto;
        border: none;

        a {
            @include typography(2rem, 500, $gray200);
            text-decoration: none;
            white-space: nowrap;
            @include responsive('lg') {
                font-size: 1.4rem;
            }
            &:hover {
                color: $black;
            }

            &:focus {
                border-bottom: none;
                outline: 0.2rem solid $violet;
            }

            &:active {
                color: darken($violet, 10%);
            }
        }
    }
    &.active {
        display: flex;
        transform: translateY(0);
    }

    @include responsive('lg') {
        @include flex-container(row, center, center, 5rem);
        position: static;
        transform: translateY(0);
        transition: none;
        height: auto;
        border: none;
        background-color: transparent;
    }

    .cross {
        @include typography(4rem, 400, $gray200);
        position: absolute;
        top: 5rem;
        right: 5rem;
        padding: 0 0.5rem;
        &:focus {
            outline: 0.2rem solid $violet;
        }

        @include responsive('lg') {
            display: none;
        }
    }
}
.login_signup_container {
    @include flex-container(column, center, center, 1rem);
    order: 3;

    @include responsive('md') {
        display: block;
    }

    button {
        @include button();
        @include typography(1.4rem, 400);
        border-radius: $radius-full;
        &:hover {
            box-shadow: $shadow-lg;
        }

        &:focus {
            outline: 0.2rem solid $violet;
        }

        &:active {
            background-color: darken($violet, 10%);
        }
    }

    .signup {
        @include button($violet, $white, 11.5rem);
        &:focus {
            outline: 0.2rem solid $black;
        }
    }
}

.d_hidden {
    display: none;
}

.d_flex {
    display: flex;
}
