@use '../abstracts/variable' as *;
@use '../abstracts/mixins' as *;

.hero_section {
    margin-top: 3.5rem;
    padding: 0rem 1.6rem 6.4rem;
    position: relative;
    @include responsive('lg') {
        @include flex-container(row, center, start, 0rem);
        padding: 0rem 0.8rem 6.4rem 2.2rem;
    }
}

.hero_img_container {
    @include responsive('md') {
        padding: 2.5rem 9rem 2.5rem 11rem;
    }
    @include responsive('lg') {
        padding: 0;
        margin-left: 1rem;
        order: 1;
        width: 77.2rem;
    }
}

.hero_img {
    width: 100%;
}

.hero_desc_container {
    @include flex-container(column, center, center, 1.6rem);
    @include responsive('md') {
        padding: 0rem 17rem;
    }

    @include responsive('lg') {
        @include flex-container(column, center, start);
        width: 42rem;
        padding: 5rem 0rem;
    }
}

.explore_btn {
    @include button(transparent, $pink, 22.4rem, 5.6rem);
    @include flex-container(row, center, center, 2rem);
    border-radius: $radius-full;
    box-shadow: $shadow-md;
    margin-top: 2.5rem;
    & * {
        @include typography(1.4rem, 400, $pink);
    }

    .icon--bag::before {
        font-size: 2rem;
    }

    @include responsive('md') {
        margin: 2rem;
    }

    @include responsive('lg') {
        margin: 2rem 0rem 0rem;
    }
}

.hero_desc {
    text-align: center;
    h1 {
        padding: 0rem 2rem;
        @include responsive('md') {
            margin-top: 0.9rem;
            font-weight: 700;
            padding: 0rem 2.5rem 0rem 1.5rem;
        }

        @include responsive('lg') {
            padding: 0;
            margin-top: 4.7rem;
            text-align: start;
        }
    }

    p {
        margin-top: 2.4rem;
        @include responsive('md') {
            padding: 0rem 11rem;
            margin-top: 3.7rem;
        }

        @include responsive('lg') {
            padding: 0;
            margin-top: 4.1rem;
            text-align: start;
        }

        span {
            @include responsive('lg') {
                display: block;
            }
        }
    }
}

.hero_button_container {
    @include flex-container(column, center, center, 2.4rem);
    margin-top: 2rem;
    button {
        @include button($white, $black, 39.8rem, 6.5rem);
        @include typography(1.4rem, 400);
        white-space: nowrap;
        border-radius: $radius-full;
        @include responsive('md') {
            width: 14.1rem;
            height: 4.9rem;
            padding: 1.6rem 3.2rem;
        }
    }

    & .get_started {
        background-color: $violet;
        color: $white;
        box-shadow: $shadow-lg;
    }

    & .watch_demo {
        @include flex-container(row, center, center, 0.8rem);
        border: 0.1rem solid $light;
        @include responsive('md') {
            width: 18.1rem;
            height: 5.6rem;
        }
    }
    & .icon--play::before {
        color: $violet;
        font-size: 2rem;
    }
    @include responsive('md') {
        margin-top: 3rem;
        flex-direction: row;
        gap: 1.6rem;
    }

    @include responsive('lg') {
        margin-top: 4.1rem;
    }
}

.hero_arrow_img {
    width: 6.5rem;
    height: 17rem;
    display: none;
    @include responsive('md') {
        display: block;
        position: absolute;
        bottom: 1.4rem;
        left: 3.8rem;
    }

    @include responsive('lg') {
        bottom: -5rem;
    }
}

.orange_ellipse {
    width: 60rem;
    height: 50rem;
    background: radial-gradient($orange50, $white);
    filter: blur(2rem);
    opacity: 0.5;
    pointer-events: none;
    position: absolute;
    top: -10rem;
    left: -20rem;
    z-index: -1;
    @include responsive('md') {
        width: 70rem;
        height: 60rem;
    }

    @include responsive('lg') {
        width: 80rem;
        top: 0rem;
        left: -7rem;
    }
}
