@use '../abstracts/variable' as *;
@use '../abstracts/mixins' as *;

.key-feature {
    @include flex-container(column, center, center, 10.9rem);
    margin-top: 9.3rem;
    position: relative;
    @include responsive('md') {
        margin-top: 12.8rem;
        gap: 7rem;
    }

    @include responsive('lg') {
        @include flex-container(row-reverse, center, start, 1rem);
    }
    &__img-container {
        @include responsive('md') {
            @include flex-container;
            width: 100%;
        }

        @include responsive('lg') {
            margin: 0;
        }
    }

    &__img {
        max-height: 43.8rem;
        @include responsive('md') {
            max-height: none;
        }

        @include responsive('lg') {
            object-fit: cover;
            position: absolute;
            top: 0;
            right: -10rem;
        }
    }

    &__desc {
        @include flex-container(column, center, center, 3.2rem);
        padding: 0 3.2rem 0;
        @include responsive('md') {
            gap: 6.4rem;
        }

        @include responsive('lg') {
            padding: 0;
            max-width: 55.8rem;
        }
    }

    &__heading-container {
        @include flex-container(column, center, center, 1.6rem);
        .text--sm {
            -webkit-line-clamp: 6;
            margin-top: 1.6rem;
        }
        @include responsive('lg') {
            align-items: start;
        }
    }

    &__heading {
        @include responsive('lg') {
            text-align: start;
        }

        &--span {
            @include responsive('lg') {
                display: block;
            }
        }
    }

    &__icon-container {
        @include flex-container(row, center, center);
        width: 10rem;
        height: 10rem;
        border-radius: 3.2rem;
        &--orange {
            background-color: $orange;
        }

        &--yellow {
            background-color: $yellow;
        }

        &--pink {
            background-color: $pink;
        }

        .icon {
            font-size: 4rem;
            color: $white;
        }
    }

    &__card-container {
        @include flex-container(column, center, center, 0.8rem);
        @include responsive('md') {
            width: 100%;
            gap: 0;
        }
    }

    &__card {
        @include flex-container(column, start, start, 3.2rem);
        border-color: $white;
        @include responsive('md') {
            @include flex-container(row, start, center, 3.2rem);
            width: 100%;
            padding: 3.1rem 3.2rem;
        }

        &:hover {
            border-color: $light;
        }
    }

    &__card-desc {
        @include flex-container(column, start, start, 0.8rem);
    }

    &__card-text {
        text-align: start;
        &--h4 {
            font-size: 2.3rem;
        }
    }
}
