@use '../abstracts/variable' as *;
@use '../abstracts/mixins' as *;

.newsletter {
    @include flex-container(column, start, start, 6.4rem);
    margin-top: 7rem;
    padding: 0 3.2rem;
    position: relative;

    @include responsive('md') {
        background-color: rgba($yellow, 0.08);
        padding: 13.1rem 6.4rem 12.8rem;
        margin-top: 5.9rem;
        border-radius: $radius-xl;
    }

    @include responsive('lg') {
        margin-top: 12rem;
        padding: 12.8rem 8rem 12.1rem;
    }

    &__heading-container {
        @include flex-container(column, center, center, 3.2rem);
    }

    &__heading {
        @include responsive('lg') {
            font-size: 5.5rem;
        }
    }

    &__desc {
        @include flex-container(column, center, start, 3.2rem);
        width: 100%;
        @include responsive('md') {
            flex-direction: row;
            align-items: stretch;
        }
    }

    &__input-container {
        @include flex-container(row, start, center, 1.6rem);
        padding: 2.4rem 3.2rem;
        color: rgba($black, 0.75);
        background-color: $white;
        border-radius: $radius-xl;
        width: 100%;
        @include responsive('md') {
            flex-grow: 1;
        }

        .icon {
            font-size: 2.2rem;
            @include responsive('md') {
                font-size: 2.7rem;
            }
        }
    }

    &__input {
        width: 100%;
        height: 100%;
        font-size: 1.4rem;
        font-weight: 700;
        @include responsive('md') {
            font-size: 2.3rem;
        }

        &:focus {
            outline: 0.2rem solid $violet;
        }
    }

    &__button {
        width: 100%;
        height: auto;
        border-radius: $radius-lg;
        font-size: 1.6rem;
        padding: 2.4rem 0;
        @include responsive('md') {
            width: auto;
            padding: 3.4rem 6.4rem;
            border-radius: $radius-xxl;
            font-size: 2.3rem;
        }
    }

    &__img {
        position: absolute;
        display: none;
        right: 75.7rem;
        bottom: 45rem;
        @include responsive('md') {
            display: block;
        }

        @include responsive('lg') {
            right: 104rem;
            bottom: 47rem;
            opacity: 0.2;
        }

        &--waves {
            left: 84rem;
            bottom: 55rem;
            @include responsive('lg') {
                opacity: 1;
                left: 120rem;
                top: 50rem;
            }
        }
    }
}
