@use '../abstracts/variable' as *;
@use '../abstracts/mixins' as *;

.services {
    @include flex-container(column, center, center, 3.2rem);
    margin-top: 6.4rem;
    padding: 0;
    @include responsive('md') {
        margin-top: 12rem;
        gap: 6.4rem;
    }

    @include responsive('lg') {
        @include flex-container();
        margin-top: 12.5rem;
    }

    &__heading-container {
        @include flex-container(column, center, center, 1.6rem);
        @include responsive('lg') {
            align-items: start;
        }
    }

    &__heading {
        @include responsive('lg') {
            text-align: start;
        }
    }

    &__card-container {
        @include flex-container(column, center, center, 1.6rem);
        @include responsive('md') {
            @include flex-container(row, start, stretch, 1.6rem);
        }
        @include responsive('lg') {
            gap: 2.1rem;
        }
    }

    &__card {
        @include transition(box-shadow, 200ms, ease);
        @include responsive('md') {
            padding: 6.4rem 0 3.5rem;
            justify-items: end;
            gap: 6.4rem;
        }

        @include responsive('lg') {
            height: 44.3rem;
            width: 38.6rem;
            justify-content: start;
            padding: 6.2rem;
        }

        &--extra {
            @include responsive('lg') {
                display: none;
            }
        }

        &:hover {
            box-shadow: $shadow-lg;
        }

        .text {
            -webkit-line-clamp: 4;
        }
    }

    &__card-desc {
        @include flex-container(column, center, center, 3.2rem);
        @include responsive('md') {
            padding: 0 6.5rem;
        }
        @include responsive('lg') {
            padding: 0;
        }
    }

    &__img {
        width: 6.4rem;
        height: 6.4rem;
    }
}
