@use 'node_modules/@glidejs/glide/src/assets/sass/glide.core' as *;
@use '../abstracts/variable' as *;
@use '../abstracts/mixins' as *;

.testimonial {
    @include flex-container(column, center, center, 6.4rem);
    margin-top: 6.8rem;
    padding: 0;
    position: relative;

    @include responsive('md') {
        margin-top: 12.8rem;
        padding: 0 15.6rem;
        gap: 5.6rem;
    }

    @include responsive('lg') {
        padding: 0;
        margin-top: 17rem;
    }

    &__heading-container {
        @include flex-container(column, center, center, 1.6rem);
    }

    &__img {
        width: 12.8rem;
        &--background {
            display: none;
            position: absolute;
            width: 250rem;
            height: 98rem;
            top: 0;
            left: 0;
            z-index: -1;
            @include responsive('md') {
                display: block;
            }
        }
    }

    &__background {
        display: none;
        position: absolute;
        width: 250rem;
        height: 98rem;
        top: -35rem;
        left: -30rem;
        z-index: -1;
        background: url('/assets/img/testimonial_background.png');
        @include responsive('md') {
            display: block;
        }
        @include responsive('lg') {
            top: -28rem;
            left: -13rem;
        }
    }

    .glide {
        display: flex;
        flex-direction: column;
        gap: 4.8rem;
        @include responsive('md') {
            gap: 5.6rem;
        }
        &__slide {
            @include flex-container(column, center, center, 6.4rem);
            @include responsive('md') {
                gap: 5.6rem;
            }

            @include responsive('lg') {
                padding: 0 19rem;
            }

            .text {
                font-family: circular-std;
                -webkit-line-clamp: 4;
                @include responsive('md') {
                    font-size: 2.3rem;
                }
            }
        }

        &__slide-heading {
            @include typography(2.8rem, 400, $orange);
            &--span {
                font-size: 2.3rem;
                color: rgba($black, 0.75);
            }
        }

        &__slide-desc {
            @include flex-container(column, center, center, 3.2rem);
            padding: 0;
        }

        &__icon-container {
            @include flex-container(row, center, center, 1.6rem);
        }

        &__icon {
            font-size: 3rem;
            color: $yellow;
        }

        &__bullet-container {
            @include flex-container(row, center, center, 2.4rem);
            margin-top: 1.6rem;
            @include responsive('md') {
                margin: 0;
            }
        }

        &__bullet {
            @include transition(background-color, 0.3s, ease);
            width: 2.4rem;
            height: 2.4rem;
            border-radius: 50%;
            background-color: rgba($black, 0.05);
            &--active {
                background-color: $pink;
            }

            &:hover {
                cursor: pointer;
            }

            &:focus {
                outline: 0.2rem solid $violet;
            }
        }

        &__arrow-container {
            @include flex-container(row, space-between, center);
        }
        &__arrow {
            width: 6.4rem;
            height: 6.4rem;

            @include responsive('md') {
                width: 10rem;
                height: 10rem;
                position: absolute;
                bottom: 34rem;
            }

            @include responsive('lg') {
                bottom: 33rem;
            }

            &--left {
                background-color: $white;
                @include responsive('md') {
                    right: 110%;
                }

                @include responsive('lg') {
                    right: 91.5%;
                }
            }

            &--right {
                @include responsive('md') {
                    left: 110%;
                }

                @include responsive('lg') {
                    left: 90.5%;
                }
            }

            .icon {
                @include responsive('md') {
                    font-size: 1.7rem;
                }
            }
        }
    }
}
