@use '../abstracts/variable' as *;
@use '../abstracts/mixins' as *;

.travel {
    padding: 0rem 1.6rem;
    @include flex-container(column, center, center, 3.7rem);
    @include responsive('md') {
        padding: 0 6.4rem 0;
        gap: 6.4rem;
    }

    @include responsive('lg') {
        flex-direction: row;
        padding: 0 11.5rem 0 0;
        gap: 0;
        min-height: 81.6rem;
    }

    &__desc {
        position: relative;
        @include responsive('md') {
            padding: 0.5rem 3.2rem 6.4rem;
        }

        @include responsive('lg') {
            padding: 1rem 0 0 0;
            max-width: 45rem;
        }
    }

    &__heading {
        @include responsive('lg') {
            text-align: start;
        }
    }

    &__img-container {
        @include responsive('md') {
            padding: 6.4rem 0rem 0rem 2.5rem;
            margin-left: 0.7rem;
        }

        @include responsive('lg') {
            padding: 0;
            margin: 0 0 1.5rem;
        }
    }

    &__img {
        object-fit: contain;

        &--abs {
            position: absolute;
            top: 34%;
            right: -11.5rem;
            display: none;
            @include responsive('lg') {
                display: block;
            }
        }
    }

    &__card-container {
        margin-top: 3.2rem;
        display: grid;
        gap: 1.6rem;
        @include responsive('md') {
            grid-template-columns: repeat(2, auto);
            margin-top: 6.4rem;
            gap: 3.2rem;
        }
    }

    &__card {
        gap: 1.6rem;
        max-height: 15.1rem;
    }

    &__cardheading {
        @include typography(3.5rem, 400, $orange, 120%);
    }
}
