@use '../abstracts/variable' as *;
@use '../abstracts/mixins' as *;

.travel {
    @include flex-container(column, center, center, 3.7rem);
    padding: 0;
    margin-top: 6.5rem;
    @include responsive('md') {
        padding: 0;
        margin-top: 13.5rem;
        gap: 6rem;
    }

    @include responsive('lg') {
        flex-direction: row;
        margin-top: 12.8rem;
        min-height: 69rem;
        padding: 0;
        gap: 0;
        align-items: stretch;
    }

    &__desc {
        @include flex-container(column, center, center, 3.2rem);
        position: relative;
        @include responsive('md') {
            gap: 6.4rem;
        }

        @include responsive('lg') {
            max-width: 45rem;
            justify-content: end;
        }
    }

    &__heading-container {
        @include flex-container(column, center, center, 1.6rem);

        .text {
            margin-top: 1.6rem;
        }
        @include responsive('lg') {
            align-items: start;
        }
    }

    &__heading {
        @include responsive('lg') {
            text-align: start;
        }
    }

    &__img-container {
        @include responsive('md') {
            @include flex-container(row, center, center);
            width: 100%;
        }

        @include responsive('lg') {
            padding: 0;
        }
    }

    &__img {
        object-fit: contain;

        &--main {
            @include responsive('lg') {
                position: absolute;
                left: 0;
            }
        }

        &--abs {
            position: absolute;
            top: 35%;
            left: 29.5rem;
            display: none;
            @include responsive('lg') {
                display: block;
            }
        }
    }

    &__card-container {
        width: 100%;
        display: grid;
        gap: 1.6rem;
        @include responsive('md') {
            grid-template-columns: repeat(2, auto);
            gap: 3.2rem;
            justify-content: center;
        }
    }

    &__card {
        gap: 1.6rem;
        max-height: 15.1rem;
        @include responsive('md') {
            width: 40rem;
        }
        @include responsive('lg') {
            width: auto;
        }
    }

    &__card-heading {
        @include typography(3.5rem, 400, $orange, 120%);
    }
}
