@mixin flex-center($direction: row,$justify:center,$align:center, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

@mixin overflow-hidden {
  overflow: hidden;
  white-space: nowrap;
}

@mixin transition($props: all, $time: 0.3s, $ease: ease-in-out) {
  transition: $props $time $ease;
}

$mobile-landscape: 568px;
$tablet: 768px;
$desktop: 992px;

$breakpoints: (
  "small": (
    min-width: $mobile-landscape,
  ),
  "medium": (
    min-width: $tablet,
  ),
  "large": (
    min-width: $desktop,
  ),
); 

@mixin responsive($size) {
  $query: map-get($breakpoints, $size);

    @media #{$query} {
      @content;
  }
}
