@use './variable' as *;

@mixin flex-container(
    $direction: row,
    $justify: center,
    $align: center,
    $gap: 0,
    $wrap: nowrap
) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
    flex-wrap: $wrap;
}

@mixin overflow-hidden($overflow: hidden, $nowrap: false) {
    overflow: $overflow;

    @if $nowrap {
        white-space: nowrap;
    }
}

@mixin transition($props: all, $time: 0.3s, $ease: ease-in-out) {
    transition: $props $time $ease;
}

@mixin button(
    $background: $white,
    $color: $black,
    $width: 10.5rem,
    $height: 5rem
) {
    background-color: $background;
    color: $color;
    width: $width;
    height: $height;
    padding: 1.6rem 2rem;
    cursor: pointer;
}

@mixin typography(
    $font-size: 1rem,
    $font-weight: 400,
    $color: $black,
    $line-height: normal,
    $font-family: circular-std
) {
    font-family: $font-family;
    font-size: $font-size;
    color: $color;
    line-height: $line-height;
    font-weight: $font-weight;
}

@mixin responsive($size) {
    $width: map-get($breakpoints, $size);

    @if $width ==null {
        @error 'responsive(): Unknown breakpoint "#{$size}". Available: #{map-keys($breakpoints)}';
    } @else {
        @media (min-width: #{$width}) {
            @content;
        }
    }
}
