@use '../abstracts/variable' as *;
@use '../abstracts/mixins' as *;

body {
    font-family: circular-std;
}

.heading {
    text-align: center;
    &--xl {
        @include typography(4rem, 700, $black, 120%);

        @include responsive('md') {
            font-size: 5.6rem;
        }

        @include responsive('lg') {
            font-size: 6.9rem;
        }
    }

    &--lg {
        @include typography(3.2rem, 400);
        @include responsive('md') {
            font-size: 4rem;
        }

        @include responsive('lg') {
            font-size: 4.4rem;
        }
    }

    &--md {
        @include typography(2.4rem, 400);
        @include responsive('md') {
            font-size: 2.8rem;
        }
    }

    &--sm {
        @include typography(1.6rem, 400);
        @include responsive('md') {
            font-size: 2.3rem;
        }
    }

    &--black {
        color: $black;
    }

    &--pink {
        color: $pink;
        font-weight: 600;
    }
}

.text {
    &--gray {
        @include typography(1.6rem, 500, $lightgray, 160%, Inter);

        @include responsive('md') {
            font-size: 1.8rem;
        }
    }

    &--md {
        font-size: 1.8rem;
    }

    &--center {
        text-align: center;
    }
}

.btn {
    @include button($white, $black, 39.8rem, 6.5rem);
    @include typography(1.4rem, 400);
    border-radius: $radius-full;

    &:hover {
        box-shadow: $shadow-lg;
    }

    &--primary {
        background-color: $violet;
        color: $white;
        white-space: nowrap;

        @include responsive('md') {
            width: 14.1rem;
            height: 4.9rem;
            padding: 1.6rem 3.2rem;
        }
    }

    &--secondary {
        border: 0.1rem solid $light;

        @include responsive('md') {
            width: 18.1rem;
            height: 5.6rem;
        }
    }
}

.ellipse {
    width: 60rem;
    height: 50rem;
    opacity: 0.5;
    pointer-events: none;
    position: absolute;
    z-index: -1;

    &--orange {
        background: radial-gradient($orange50, $white);
        filter: blur(2rem);
        top: -10rem;
        left: -20rem;

        @include responsive('md') {
            width: 70rem;
            height: 60rem;
        }

        @include responsive('lg') {
            width: 80rem;
            top: -10rem;
            left: -20rem;
        }
    }
}

.card {
    @include flex-container(column, center, center, 3.2rem);
    background-color: $white;
    padding: 3.2rem;
    border: 0.1rem solid $light;
    border-radius: $radius-xl;
}
