@use '../abstracts/variable' as *;
@use '../abstracts/mixins' as *;

.heading {
    text-align: center;
    &--xl {
        @include typography(4rem, 700, $black);

        @include responsive('md') {
            font-size: 5.6rem;
        }

        @include responsive('lg') {
            font-size: 6.9rem;
        }
    }

    &--lg {
        @include typography(3.2rem, 400);
        @include responsive('md') {
            font-size: 4rem;
        }

        @include responsive('lg') {
            font-size: 4.4rem;
        }
    }

    &--md {
        @include typography(2.4rem, 400);
        @include responsive('md') {
            font-size: 2.8rem;
        }
    }

    &--sm {
        @include typography(1.6rem, 400);
        letter-spacing: 0.3rem;
        @include responsive('md') {
            font-size: 2.3rem;
            letter-spacing: 0.5rem;
        }

        @include responsive('lg') {
            letter-spacing: 0.5rem;
        }
    }

    &--pink {
        color: $pink;
    }
}

.text {
    &--sm {
        @include typography(1.6rem, 500, $black, 160%, Inter);

        @include responsive('md') {
            font-size: 1.8rem;
        }
    }

    &--md {
        @include typography(1.8rem, 400, $black, 160%, Inter);
    }

    &--gray {
        color: $gray100;
    }

    &--center {
        text-align: center;
    }

    &--mt {
        margin-top: 3.2rem;
    }
}

.btn {
    @include button($white, $black, 39.8rem, 6.5rem);
    @include typography(1.4rem, 400);

    &:hover {
        box-shadow: $shadow-lg;
    }

    &:focus {
        outline: 0.2rem solid $violet;
    }

    &:active {
        background-color: darken($violet, 10%);
    }

    &--primary {
        background-color: $violet;
        color: $white;
        white-space: nowrap;

        @include responsive('md') {
            width: 14.1rem;
            height: 4.9rem;
            padding: 1.6rem 3.2rem;
        }

        &:focus {
            outline: 0.2rem solid $black;
        }
    }

    &--secondary {
        border: 0.1rem solid $light;

        @include responsive('md') {
            width: 18.1rem;
            height: 5.6rem;
        }
    }
}

.wrapper {
    position: relative;
}

.ellipse {
    width: 60rem;
    height: 50rem;
    opacity: 0.5;
    pointer-events: none;
    position: absolute;
    z-index: -1;
    border-radius: $radius-full;

    &--primary {
        filter: blur(2rem);
        top: -120rem;
        left: -25rem;

        @include responsive('md') {
            width: 70rem;
            height: 60rem;
            top: -155rem;
            left: -20rem;
        }

        @include responsive('lg') {
            width: 80rem;
            top: -110rem;
            left: -20rem;
        }
    }

    &--secondary {
        display: none;
        filter: blur(20rem);
        right: 0;
        bottom: 0;
        transform: translate(80%, 20%);
        @include responsive('md') {
            display: block;
        }

        @include responsive('lg') {
            width: 80rem;
            height: 70rem;
            transform: translate(70%, 40%);
        }
    }

    &--orange {
        background: radial-gradient(rgba($orange, 0.5), $white);
    }

    &--yellow {
        background: radial-gradient($yellow, $white);
    }
}

.card {
    @include flex-container(column, center, center, 3.2rem);
    background-color: $white;
    padding: 3.2rem;
    border: 0.1rem solid $light;
    border-radius: $radius-xl;
}

.line-clamp {
    @include line-clamp;
}
