@font-face {
    font-family: 'circular-std';
    src: url('../../../public/assets/fonts/circular-std-medium-500.ttf')
        format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../../../public/assets/fonts/Inter.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
